{% extends 'base.html' %}

{% block title %}CSV to TTL Converter{% endblock %}

{% block content %}

<div style="margin: 3%;">
    <h1>CSV to TTL Converter</h1>

    <form action="{{ url_for('convertFile') }}" method="post" class="form-example" enctype="multipart/form-data">
        <!--<button class=" btn" onclick="document.getElementById('getFile').click()">Choose file</button>-->
        <input type='file' name="file" id="getFile" accept=".csv" required>

        <div>
            <h3>Parameters</h3>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Choose parameters</button>
            <div id="demo" class="collapse">

                <div>
                    <input type="checkbox" id="withTitles" name="withTitles" value="withTitles" checked onchange="checkboxOnChange();">
                    <label for="withTitles">Does this CSV file have a title line?</label>
                </div>
                <script type="text/javascript">
                    function checkboxOnChange() {
                        if (document.getElementById("withTitles").checked) {
                            document.getElementById("title_line").disabled = false;
                        }
                        else if (!document.getElementById("withTitles").checked) {
                            document.getElementById("title_line").disabled = true;
                        }
                    }
                </script>
                <div class="form-example">
                    <label for="title_line">Title line: </label>
                    <input type="number" name="title_line" id="title_line" min="0" value="0">
                </div>
                <div class="form-example">
                    <label for="separator">Separator: </label>
                    <select name="separator" id="separator">
                        <option value="space">space </option>
                        <option value="tab">tab </option>
                        <option value="comma" selected>comma ,</option>
                        <option value="semicolon">semicolon ;</option>
                        <option value="verticalbar">Vertical bar |</option>
                    </select>
                </div>
                <div class="form-example">
                    <label for="first_line">First data line: </label>
                    <input type="number" name="first_line" id="first_line" min="0" value="0">
                </div>


            </div>
        </div>
        <button
                type="submit"
                class="btn btn-success">
            CONVERT
        </button>
    </form>
</div>

{% endblock %}
